<div [ngClass]="own === true ? 'message own' : 'message'">
  <div class="message-top">
    <img
      src="../../../../assets/user-avatar.png"
      alt="avatar"
      class="img img-fluid user-image"
    />
    <p class="message-text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae
      eligendi, optio quos, perspiciatis hic mollitia iure, velit vero nemo
      fugiat et rerum sit delectus ea doloremque quaerat dolorum corporis!
    </p>
  </div>
  <div class="message-bottom">
    <p>1 hour ago</p>
  </div>
</div>
