<div class="container">
  <h1>Welcome to Hubbit!</h1>
  <div class="login-box" *ngIf="!clickedOnToggleRegister">
    <app-login (loginEmmiter)="login($event)"></app-login>
    <p>
      Dont have an account? Click
      <span class="toggleRegisterButton" (click)="toggleResiterForm()"
        >here!</span
      >
    </p>
  </div>
  <div class="register-box" *ngIf="clickedOnToggleRegister">
    <app-register></app-register>
    <p>
      Already have an account? Click
      <span class="toggleRegisterButton" (click)="toggleResiterForm()"
        >here!</span
      >
    </p>
  </div>
</div>
