<div class="container">
  <div class="messages">
    <!--NG FOR OVDE || OWN ce da se zameni sa celim objektom koji ce da ima own u sebi!-->
    <app-message [own]="true"></app-message>
    <app-message [own]="false"></app-message>
    <app-message [own]="true"></app-message>
    <app-message [own]="false"></app-message>
    <app-message [own]="true"></app-message>
    <app-message [own]="true"></app-message>
    <app-message [own]="false"></app-message>
    <app-message [own]="true"></app-message>
    <app-message [own]="false"></app-message>
    <app-message [own]="false"></app-message>
    <app-message [own]="false"></app-message>
  </div>
  <div class="user-input">
    <form>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
        <span class="input-group-text" (click)="sendMessage()"
          ><i class="fas fa-paper-plane"></i>
        </span>
      </div>
    </form>
  </div>
</div>
